{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": false
            }
        ],
        "@babel/typescript",
        "@babel/preset-react"
    ]/*,
    "plugins": [
        "@babel/plugin-transform-modules-umd"
    ]*/
}
