.sa-filter {
    display: inline-block
}

.sa-filter select {
    display: none
}

.sa-filter .btn {
    /*max-width: 150px;*/
    overflow: hidden;
    text-overflow: ellipsis
}

.sa-filter-select .submit-footer,
.sa-filter-multiselect .submit-footer,
.sa-filter-date .submit-footer,
.sa-filter-num .submit-footer {
    background: #3572b0;
    border-color: transparent;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    height: 2.14285714em;
    line-height: 1.42857143;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.filter-container {
    position: relative;
    margin-bottom: 10px;
    height: 38px;
}

.filter-label {
    color: #707070;
    display: inline-block;
    line-height: 38px;
    margin-right: 10px;
    text-transform: uppercase;
}

.filter-container .filter-label {
    float: left;
    margin-right: 10px;
    line-height: 38px;
    color: #707070;
}

.filter-status {
    float: left;
    margin: 0;
    padding: 3px 0;
    list-style: none;
}

.filter-status > li {
    float: left;
    margin-right: 8px;
}

.filter-status > li a {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 1px 7px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
}

.filter-status > li a:hover {
    background: #f5f5f5;
    border-color: #ccc;
}

.filter-status > li[aria-pressed=true] a, .filter-status > li[aria-pressed=true] a:hover {
    background: #e9e9e9;
    border-color: #ccc;
    color: #333;
}

.filter-search {
    float: right;
    position: relative;
}

.filter-search input {
    box-sizing: border-box;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding-left: 24px;
    height: 30px;
    margin-right: 0;
}

.sa-filter {
    margin-right: 10px;
}

.sa-filter .dropdown-menu {
    box-sizing: border-box;
    max-width: 300px;
    min-width: 160px;
    position: absolute
}

.sa-filter .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
}

.sa-filter .dropdown-menu .form-control {
    width: 100%;
}

.sa-filter .criteria-wrap {
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sa-filter-group-actions {
    padding: 5px 10px;
}

.sa-filter-group-actions .clear-all {
    color: #3b73af;
}

.more-criteria-footer {
    padding: 5px 10px 3px;
    color: #444;
    border-top: 1px solid #bbb;
    font-style: italic;
}

/*DROPDOWN*/
.sa-filter-list-scroll {
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
    outline: none;
}

.sa-filter-list ul {
    list-style: none;
    margin: 0;
    padding: 2px 0;
}

.sa-filter-item-divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.sa-filter-item-label {
    padding-left: 21px;
    line-height: 21px;
    border: 0;
    position: relative;
    color: #ababab;
}

.sa-filter-item-label:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 1.3px;
    background-color: #eeeeee;
    z-index: 1;
    width: 18px;
    left: 0;
}

.sa-filter-item-label:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 1.3px;
    width: 100%;
    background-color: #eeeeee;
    z-index: 1;
    margin-left: 3px;
}

.check-list-select .check-list-group-actions {
    padding: 5px 10px;
}

.check-list-select .check-list-group-actions .clear-all {
    color: #3b73af;
}

.check-list-select .multiselect-field-container .icon-default.clear-field {
    cursor: pointer;
    opacity: 0.7;
}

.check-list-item, .check-list-group-footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 10px 6px 34px;
    position: relative;
}

.select-list-item, .select-list-group-footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 10px;
    position: relative;
}

.check-list-item label,
.select-list-item label,
.check-list-group-footer label,
.select-list-group-footer label {
    clear: none;
    color: inherit;
    display: block;
    left: 0;
    line-height: 1.4;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: static;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.check-list-item label input[type="checkbox"],
.check-list-group-footer label input[type="checkbox"] {
    position: absolute;
    left: 10px;
}

.select-list-item, .select-list-item .item-label {
    cursor: pointer
}

.check-list-item:hover, .select-list-item:hover, .select-list-item.active {
    background-color: #ebf2f9;
}

.list-search .criteria-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
}

.check-list-select .sa-filter-list-scroll .no-suggestions {
    padding: 7px 11px 6px;
    background: #f2f2f2;
}

.sa-filter-list .no-suggestions {
    display: block;
    margin: 0;
    padding: 3px 10px;
    font-style: italic;
}

.sa-filter-form .form-body {
    padding: 10px;
}

.sa-filter-form .field-group {
    padding-left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    position: relative;
    margin: 1px 0;
    width: 100%;
}

.sa-filter-form label {
    color: #707070;
}

.sa-filter-form .text {
    width: 100%;
    min-width: 200px;
    height: 2.1428571428571em;
    line-height: 1.4285714285714;
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    vertical-align: baseline;
    background: #fff;
    color: #333;
    font-family: inherit;
}

.sa-filter-search {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 5px 10px 9px;
    overflow: hidden;
}

.sa-filter-search .form-control {
    height: 2.1em;
    padding: 0 24px 0 6px;
    -webkit-box-shadow: #bbb 0 7px 2px -7px inset;
    -moz-box-shadow: #bbb 0 7px 2px -7px inset;
    box-shadow: #bbb 0 7px 2px -7px inset;
}

.sa-filter-search .icon-default {
    position: absolute;
    top: 11px;
    right: 15px;
    z-index: 2;
}
